<!doctype html>
<html>
    <head>
        <title>HomePage</title>
        <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <h1>Veuillez entrer:</h1> 
            
            <p>votre prénom
            <form action="." method="POST">
            <input type="text" name="prenom"></p>

            <p>votre nom
            <form action="." method="POST">
            <input type="text" name="nom"></p>
            
            <p>votre pseudo
            <form action="." method="POST">
            <input type="text" name="pseudo">
            <button type="submit">OK</button></p></br>

            <a href="{{ url_for('affichage_bdd') }}"> cliquez ici pour voir la base de donnée des users </a></br>
            <a href="{{ url_for('upload_file') }}"> Uploader un fichier </a></br>
        </form>
    </body>
</html>