h1 {
  font-size: 2em;
  color: rgb(11, 79, 134);
  text-align: left;
} 

body {
 background-image: url('fond.jpg');
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}